body {
    font-family: "Roboto";
    margin: 0px;
}

.navbar{
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 150px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.coluna1{
    flex-basis: 60%;
}

.coluna2{
    flex-basis: 40%;
}

.match{
    text-align: center;
    height: fit-content;
    margin-bottom: 10px;
}

.data{
    margin-top: -20px;
}

.titulo{
    text-align: center;
}

@media (max-width: 800px) {
    .coluna1, .coluna2{
        flex-basis: 100%;
    }
    .titulo2{
        text-align: center;
    }
}